:root {
  --color-main50: #9b5de5;
  --color-main40: #f15bb5;
  --color-main30: #fee440;
  --color-main20: #00bbf9;
  --color-main10: #00f5d4;

  --light-color-main50: #cdb4db;
  --light-color-main40: #ffafcc;
  --light-color-main30: #fefae0;

  --row-color-main30: #553f3f;
}
