@import "../styles/fonts.css";

.container {
  margin: 0;
  font-family: "DNFBitBitv2";
  background-color: var(--light-color-main30);
}

.header {
  display: flex;
  height: 120px;
  background-color: var(--light-color-main40);
  align-items: center;
  padding-inline: 30px;
  justify-content: space-between;
}

.userLogin {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.userCheck {
  align-self: last baseline;
  color: var(--row-color-main30);
}

.dotContainer {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
}

.dot {
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: var(--light-color-main30);
  margin-right: 16px;
}

.bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainTitle {
  font-size: 160px;
  color: var(--color-main40);
  text-shadow: 14px 14px 0 #4c4448, -4px -4px 0 #ffd4e4;
  border-width: 1px;
  border-color: #141414;
}

.btn {
  width: 600px;
  height: 180px;
  border-radius: 20px;
  border-width: 0;
  font-size: 40px;
  font-family: "DNFBitBitv2";
  color: #553f3f;
  background-color: #ffafcc;
  box-shadow: 10px 10px 0 #4c4448, -10px -10px 0 #ffd4e4;
  margin-bottom: 100px;
  cursor: pointer;
}

.btn:hover {
  background-color: #cdb4db;
  box-shadow: 10px 10px 0 #4c4448, -10px -10px 0 #f4e0ff;
}

.btn:active {
  background-color: #f15bb5;
  box-shadow: 10px 10px 0 #4c4448, -10px -10px 0 #ffafcc;
  color: #fff;
}
